{% include "./common/header.twig" %}



<!-- Begin page -->



            <div class="col-sm-12 text-center">
                {% if userDetail.first_name %}
                    <h1>Welcome to your account {{userDetail.first_name }} {{userDetail.last_name}} </h1>    
                {% else %}
                    <h1>My Account!</h1>    
                {% endif%}
         

                    <form method="post" id="updateAccount">



                        <hr style="border-color: #e74c3c;">

                        <div style="display:none" class="alert alert-danger" role="alert" id="errorMessage"></div>
                        <div style="display:none" class="alert alert-success" role="alert" id="successMessage"></div>

                        <input disabled id="userEmail" name="userEmail" type="text" placeholder="First name" value="{{userDetail.email}}">

                        <input disabled id="firstName" name="firstName" type="text" placeholder="First name" value="{{userDetail.first_name}}">

                        <input disabled id="lastName" name="lastName" type="text" placeholder="Last name" value="{{userDetail.last_name}}">

                        <div style="align-content: center">

                        <input id="btnEdit"  style="margin-bottom: 30px; margin-top: 30px;"  type="submit" class="buttonRed" value="Edit">

                        <a href="/changePass" id="changePass" class="buttonNew " style="margin-bottom: 30px;margin-top: 30px;">Change Password</a>

                        <input style="display:none; margin-bottom: 30px;margin-top: 30px;" id="btnDone" type="submit" class="buttonNew"  value="Done">

                        <input style="display:none; margin-bottom: 30px;margin-top: 30px;" id="btnSaveChanges" type="submit" class="buttonGreen" value="Save Changes">
                        </div>
                      
                    </form>
                </div>

      

{% include "./common/footer.twig" %}