{% include "./common/header.twig" %}


<section>
	
	<div class="container">

		<div class="text-center">
			<h2>List of Category</h2>
		</div>
		<hr style="border-color: #e74c3c;">
		<br>
		<div class="table-responsive">

			<table class="table table-striped">
				<thead>
			      <tr>
			      	<th>ID</th>
			        <th>Category</th>
			        <th>Action</th>
			      </tr>
	    		</thead>

	    		<tbody>
			        {% for category in categoryDetails  %}
			        	<tr>
			        		<td>{{ category.id }}</td>
					        <td>{{ category.category }}</td>
					        <td>
					        	<a class="btn btn-primary btn-filled" href="/category/view/{{category.category}}">View</a>
					        	<a class="btn btn-primary btn-filled" href="/categoryUpdate/{{ category.id }}">Update</a>
					        	
					        	<a class="btn btn-primary btn-filled" href="/categoryDelete/{{ category.id }}">Delete</a>
					        </td>
				      	</tr>
			        {% endfor %}
		      	</tbody>

			</table>
		</div>

	</div>
</section>

